<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card id="1" photoCover="https://cinebuzz.com.br/media/uploads/homem-aranha_3_qKWsPIB.jpg"
      cardTitle="Homem-Aranha Surpreende com Nova Tecnologia de Teias"
      cardDescription="O Homem-Aranha apresentou uma nova tecnologia de teias em Nova York, destacando sua engenhosidade e ampliando suas habilidades em ação.">
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card id="2" photoCover="https://upload.wikimedia.org/wikipedia/pt/b/be/Invincible_Iron_Man_Vol_2_2.jpg"
      cardTitle="Homem de Ferro Surpreende com Traje de Última Geração">
    </app-small-card>
    <app-small-card id="3"
      photoCover="https://wallpapers.com/images/featured/imagens-do-capitao-america-da-marvel-w9n6ryri2sljuwzl.jpg"
      cardTitle="Capitão América Lidera Nova Missão Estratégica">
    </app-small-card>
    <app-small-card id="4"
      photoCover="https://conteudo.imguol.com.br/c/entretenimento/01/2017/10/26/a-atriz-scarlett-johansson-como-viuva-negra-1509050058915_v2_4x3.jpg"
      cardTitle="Viúva Negra Desvenda Conspiração Internacional">
    </app-small-card>
  </div>
</div>
